In [1]:
import requests
user = input("please enter your zip code: ")
url = 'https://api.openweathermap.org/data/2.5/forecast?zip='+user+',US&appid=89899ce74fe3c695cd1877a145a74b7a'




response = requests.get(url)
response.ok
results = response.json()


main = results['list'][0]['weather'][0]['main']

description = results['list'][0]['weather'][0]['description']

today = results['list'][0]['dt_txt']

tomorrow = results['list'][8]['dt_txt']

day_3 = results['list'][16]['dt_txt']

day_4 = results['list'][24]['dt_txt']

day_5 = results['list'][32]['dt_txt']

furthest_forecast = results['list'][39]['dt_txt']




print("The weather forecast in", user, "for today,", today, "is", description,)

please enter your zip code: 10805
The weather forecast in 10805 for today, 2019-05-05 21:00:00 is light rain

In [ ]:
for y in results['list']:
    description = results['list'][x]['weather'][0]['description']

In [19]:

import requests
from bs4 import BeautifulSoup
url = "https://weatherstationexpert.com/what-to-wear-in-30-40-50-60-70-80-weather/"
r = requests.get(url) 
url_response = requests.get(url, timeout=5)
url_content = BeautifulSoup(url_response.content, "html.parser")
textContent = []
for i in range(0, 20):
    paragraphs = url_content.find_all("p")[i].text
    textContent.append(paragraphs)
paragraphs[4].gettext()

AttributeError: 'str' object has no attribute 'gettext'

In [31]:
import pandas as pd
import numpy as np
from IPython.display import display
import requests
user = input('\033[1m' + '\033[94m' "please enter your zip code: ")
url = 'https://api.openweathermap.org/data/2.5/forecast?zip=' + user + ',US&appid=89899ce74fe3c695cd1877a145a74b7a'
response = requests.get(url)
response.ok
results = response.json()
print('\033[96m' + '\033[1m' + '\033[4m' "5-Day Weather Forecast & outfit suggestions for your area:", user)
x=0

try:

    
    for y in results['list']:
        description = results['list'][x]['weather'][0]['description']
        today = results['list'][x]['dt_txt']
        k = results['list'][x]['main']['temp']
        f = int((k - 273.15) * 9/5 + 32)
    
        if f > 40:
            outfit = "done"
   
        

    
    
        data = {'Date/Time' : [today], 'Forecast' : [description], 'Temperature' : [f], 'Outfit' : [outfit]}
        dataframe = pd.DataFrame(data,columns=['Date/Time', 'Forecast', 'Temperature', 'Outfit'])
        display(dataframe)
        x = x+8
        if x > 39:
            break

# cannot decode json
except json.decoder.JSONDecodeError as e: 
    print("ERROR: Cannot decode the response into json")
    print("DETAILS", e)

# response not ok
except requests.exceptions.HTTPError as e:
    print("ERROR: Response from ", url, 'was not ok.')
    print("DETAILS:", e)
        
# internet is broken
except requests.exceptions.RequestException as e: 
    print("ERROR: Cannot connect to ", url)
    print("DETAILS:", e)
    
except KeyError as e:
    print("please enter a proper 5-digit US zip code")
    print("details:", e)

please enter your zip code: 94016
5-Day Weather Forecast & outfit suggestions for your area: 94016

             Date/Time          Forecast  Temperature Outfit
0  2019-05-05 21:00:00  scattered clouds           63   done

             Date/Time       Forecast  Temperature Outfit
0  2019-05-06 21:00:00  broken clouds           58   done

             Date/Time   Forecast  Temperature Outfit
0  2019-05-07 21:00:00  clear sky           61   done

             Date/Time   Forecast  Temperature Outfit
0  2019-05-08 21:00:00  clear sky           65   done

             Date/Time   Forecast  Temperature Outfit
0  2019-05-09 21:00:00  clear sky           62   done

In [21]:


('\033[96m' + '\033[4m' + 'Hello')

SyntaxError: invalid syntax (<ipython-input-21-644fccfa899c>, line 4)